* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body {
    height: 100%;
    width: 100%;
}
main {
   height: 100%;
   width: 100%;
   
}
#nav {
    display: flex;
    justify-content: space-between;
    width:100%;
    padding: 40px ;
}
#nav-part1 {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
}
#nav-part1 h2 {
    display: flex;
  align-items: center;
  font-weight: 700;
}
#nav-part2 {
    width: 38%;
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
}
#content {
    margin-left: 60px;
    padding: 0 30px ;
}
#content h3 {
    text-transform: capitalize;
    margin-top: 100px;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 25px;
}
#content h4 {
    font-size: 100px;
    font-weight: 500;
    letter-spacing: -7;
    line-height: 90px;
}
#case {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    padding: 0 30px;
    margin-bottom: 40px;
}
#case h4 {
    font-size:20px;
    margin-left: 60px;
}
#right {
    display: flex;
}
#line {
    height: 1.5px;
    width: 60px;
    background-color: black;
    margin-right: 20px;
    margin-top:9px;
}
#case h5 {
    font-size:20px;
    margin-right: 60px;
}
#projects {
    margin: 0 90px 0 90px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
.elem {
    width: 50%;
}
.elem-img{
    height: 450px;
    background-color: rgb(155, 227, 242);
    border-radius: 25px;
    background-size: cover;
    background-position: center;
}
#img1 {
    background-image: url(https://cdn.leibish.com/media/360/diamonds/42759/diamond-415928-00.jpg);
    height: ;
}
#img2 {
    background-image: url(https://th.bing.com/th/id/OIP.rcknIUUhCgk8wdyUFj4RHwHaG7?w=224&h=208&c=7&r=0&o=5&dpr=1.5&pid=1.7);
} 
.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 65px;
}
.btm-right h2 {
    margin-bottom: 10px;
}
.btm-left h2 {
    margin-bottom: 10px;
}

.i {
    margin-top: 37px;
    border: 2px solid black;
    font-size: 20px;
    padding: 4px 12px;
    border-radius: 50px;
}
.i:hover {
    background-color: black;
    color: white;
}
